spring:
  config:
    activate:
      on-profile: prod

  cloud:
    gateway:
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - ${FRONTEND_URL}
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowedHeaders: "*"
            allowCredentials: true
            exposedHeaders:
              - "Authorization"
              - "X-RateLimit-Limit"
              - "X-RateLimit-Remaining"
            maxAge: 3600

jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    root: WARN
    com.fintech.gateway: INFO
    org.springframework.cloud.gateway: WARN

