# Development Profile Configuration
spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    com.fintech.ledgerservice: DEBUG
    org.hibernate.SQL: DEBUG

springdoc:
  swagger-ui:
    enabled: true

